.vscode/
.ipynb_checkpoints/
.idea/
__pycache__/
Testings.ipynb
db/taller 20240925 del Profe.zip
AnahuacX(edX) - Intro DS con Python/Sem_01/Actividad_beethoca.zip
AnahuacX(edX) - Intro DS con Python/Sem_01/comp 1/
AnahuacX(edX) - Intro DS con Python/Sem_02/Actividad 2_beethoca.zip
AnahuacX(edX) - Intro DS con Python/Sem_02/rev_compas/
AnahuacX(edX) - Intro DS con Python/Sem_03/Actividad_3.zip
AnahuacX(edX) - Intro DS con Python/Sem_03/Actividad_3_beethoca.zip
AnahuacX(edX) - Intro DS con Python/Sem_04/Actividad 4_beethoca.zip
AI_Espeialidad/WorkFiles_1.zip

